<div class="control-section">
  <ejs-treegrid [allowResizing]="true" [treeColumnIndex]="1" [allowPaging]="true" [allowReordering]="true"
                *ngIf="showTable"
                [pageSettings]="pageSettings" [allowFiltering]="true" [filterSettings]="filterSettings"
                [allowRowDragAndDrop]="true" [allowSorting]="true" [sortSettings]="sortSettings"
                [toolbar]="toolbarOptions"
                [editSettings]="editSettings" [selectionSettings]="selectionSettings" #treegridObj [dataSource]="data"
                height="350" idMapping="TaskID" parentIdMapping="ParentItem" hasChildMapping="isParent"
                [treeColumnIndex]="1"
                allowPaging="true" (contextMenuOpen)='contextMenuOpen($event)' (rowDeselected)="selectedRow($event)"
                (contextMenuClick)='contextMenuClick($event)' (rowSelected)="selectedRow($event)"
                [pageSettings]="pageSetting" [contextMenuItems]="contextMenuItems">
    <e-columns>
      <e-column *ngFor="let column of columns" [field]="column.name" [headerText]="column.header"
                [format]="column.format? column.format: ''" [textAlign]="column.align? column.align: ''">
      </e-column>
    </e-columns>
  </ejs-treegrid>
</div>
<ejs-toast #element (created)="onCreate()"  [position] = 'position' > </ejs-toast>
